.container
  .content
    .row
      %h2 Neo Graph Search Example Application
      %p
        This is an example application replicating Facebook Graph Search with Cypher and Neo4j.
      %p
        After you sign in, it will take a minute or three to import all your friends, likes, and mutual friends.
        Give it some time and then try a graph search or click on visualization.  
      %p
        This project was put together with band-aids, duck-tape and just a few hours of work, it is by no means
        production ready, it just proves that it "can" be done, enjoy.