body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

.form-input {
    height: 28px;
}

footer {
    margin: 40px 0 0 0;
}
footer .contain {
    min-height: 50px;
}
footer a {
    font-size: .8em;
    margin: 10px 30px 0 5px;
}

footer li {
    display: inline-block;
}

path.chord {
    fill-opacity: .67;
}